<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management System</title>
    <style>
        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 10px ;
        }
    </style>
</head>
<body>
    <footer>
        <p><b><u>Thank you for Logging In</u></b></p>
        <ul>
            <li><a href="login.php">Go to login</a></li>
            <li><a href="logout.php">Logout</a></li>
        </ul>
    </footer>
</body>
</html>
